<!DOCTYPE html>
    <html>
    <head>
	    <title>Message was Sent</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="https://moderncaliber.com/">
	    <link rel="stylesheet" type="text/css" href="css/messageSent.css">
    </head>
    <body>
      <header>
        <a href="/">
          <img src="images/coralLogo.png" alt="Modern Caliber Logo" id="headerLogo">
        </a>
        <span class="center">Modern Caliber</span>
        <span class="subtitle">Web Development</span>
      </header>
      <img src="images/sent.png" alt="Message Sent Image" id="sentImage">
      <p id="sentText">Your message has been sent! I will respond as soon as I can.</p>
      <img src="images/sentVector.png" alt="Orange Vector Drawing" id="sentVector">

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--js file-->
        <script type="text/javascript" src="js/messageSent.js"></script>
    </body>
    </html>
