<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link rel="stylesheet" href="css/my404.css">
  </head>
  <body>
    <span class="center">404 Error</span>
    <img src="images/large404.png" alt="Javascript Torn Hole Image" class="img404">
    <span id="txt404">It looks like you've torn this page by going somewhere that doesn't exist.</span>
    <button type="button" id="btn404"><a href="/">Go Home</a></button>
    <img src="images/vector404.png" alt="Orange Vector Image" id="vct404">
  </body>
</html>
