<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    <h1><a href="https://moderncaliber.com/projects/weather/index.html">React Weather App</a></h1>
    <br>
    <h1><a href="https://martin-weather-app.herokuapp.com/">Node Course Weather App</a></h1>
    <br>
    <h1><a href="https://moderncaliber.com/projects/todo/index.html">Todo App</a></h1>
    <br>
    <h1><a href="https://beg-nodejs-express.herokuapp.com/">Simple Blog App</a></h1>
    <br>
    <h1><a href="https://tinder-clone-28509.web.app/">Tinder Clone App</a></h1>
    <br>
    <h1><a href="https://martin-redoak-node.herokuapp.com/">Red Oak</a></h1>
    <br>
    <h1><a href="https://moderncaliber-contact.netlify.app/">Modern Caliber Contact Form Concept</a></h1>

</body>

</html>