<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    <h1><a href="https://martin-react-weather.netlify.app/">React Weather App</a></h1>
    <br>
    <h1><a href="https://martin-weather-app.herokuapp.com/">Node Course Weather App</a></h1>
    <br>
    <h1><a href="https://martin-todo-app.netlify.app/">Todo App</a></h1>
    <br>
    <h1><a href="https://tinder-clone-28509.web.app/">Tinder Clone App</a></h1>
    <br>
    <h1><a href="https://moderncaliber-contact.netlify.app/">Modern Caliber Contact Form Concept</a></h1>

</body>

</html>